<%= simple_form_for(@todo, html:{ class: "form-horizontal", style: 'margin:0'}) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.input :title, input_html: {class: 'input-xlarge'} %>
    <%= f.input :description, as: :text, input_html: {class: 'input-xlarge', rows: 5} %>
    <%= f.input :due_at, as: :date, include_blank: true, input_html: {class: 'input-small', rows: 5} %>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
