<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @todo.title %>
</p>

<p>
  <b>User:</b>
  <%= @todo.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @todo.description %>
</p>

<p>
  <b>Due at:</b>
  <%= @todo.due_at %>
</p>

<p>
  <b>Done at:</b>
  <%= @todo.done_at %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
